.h6 {
  color: #d63384
}

.avatar-border {
  background-image: none !important;
  border: 2px solid #d63384;
}
.avatar-border-yellow {
  background-image: none !important;
  border: 2px solid #e0a119;
}
.avatar-border-green {
  background-image: none !important;
  border: 2px solid #19df50;
}
.avatar-border-blue {
  background-image: none !important;
  border: 2px solid #1990e0;
}

.button-inactive {
  background: none !important;
  border: #67748e 1px solid !important; 
  color: #67748e;
  align-items: middle;
  height: 2.2rem
}
.button-active {
  background: none !important;
  border: #d63384 1px solid !important; 
  color: #d63384;
  align-items: middle;
  height: 2.2rem
}

.form-input {
  background-color: #fff;;
  border: #eaeaea 1px solid !important;
  height: 2.2rem;
  padding: 0 1rem;
}

.create-form-input {
  background-color: #fff;;
  border: #eaeaea 1px solid !important;
  height: 2.2rem;
  padding: 0 1rem;
}