.h6 {
  color: #d63384
}
.min-height-150 {
  min-height: 150px;
}

.avatar-border {
  background-image: none !important;
  border: 2px solid #d63384;
}
.avatar-border-admin {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom right, #A7E11E, #1990e0) 1;
  border-radius: 0 !important;
}


.avatar-border-red {
  background-image: none !important;
  border: 2px solid #e21a1e;
}
.avatar-border-purple {
  background-image: none !important;
  border: 2px solid #d63384;
}
.avatar-border-pink {
  background-image: none !important;
  border: 2px solid #d63384;
}
.avatar-border-yellow {
  background-image: none !important;
  border: 2px solid #e0a119;
}
.avatar-border-lightYellow {
  background-image: none !important;
  border: 2px solid #ebce91;
}
.avatar-border-green {
  background-image: none !important;
  border: 2px solid #19df50;
}
.avatar-border-lightGreen {
  background-image: none !important;
  border: 2px solid #A7E11E;
}
.avatar-border-acqua {
  background-image: none !important;
  border: 2px solid #1be18f;
}
.avatar-border-lightBlue {
  background-image: none !important;
  border: 2px solid #99dedd;
}
.avatar-border-blue {
  background-image: none !important;
  border: 2px solid #1990e0;
}
.avatar-border-darkBlue {
  background-image: none !important;
  border: 2px solid #1243b5;
}
.avatar-border-black {
  background-image: none !important;
  border: 2px solid #333;
}

.button-inactive {
  background: none !important;
  border: #67748e 1px solid !important; 
  color: #67748e;
  align-items: middle;
  height: 2.2rem;
  max-width: 2rem;
}
.button-active {
  background: none !important;
  border: #d63384 1px solid !important; 
  color: #d63384;
  align-items: middle;
  height: 2.2rem;
  max-width: 2rem;
}
.icon-bg {
  font-size: 1.1rem !important;
}
/* fox allignment in bigger icons*/
/* .fa-bg:before {
  margin: -1.7rem 1.5rem;
  font-size: 2rem;
}
 */
.form-input {
  background-color: #fff;;
  border: #eaeaea 1px solid !important;
  height: 2.2rem;
  padding: 0 1rem;
}

.create-form-input {
  background-color: #fff;;
  border: #eaeaea 1px solid !important;
  height: 2.2rem;
  padding: 0 1rem;
}
.text-black {
  color: var(--bs-heading-color) !important;
}